.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */
.jumbotron {
  padding: 100px 25px;
  margin: 0;
}
.container-fluid {
  padding: 60px 50px;
}
.site-header {
  background-color: rgb(150, 33, 38, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #fff;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #000;
  text-decoration: none;
}

.nav-pills .nav-link.active {
    background-color: #fff !important;
    color: #962126;
}

  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }

.mabool {
  max-width: 10vh;
}
.mabool-sub {
  background-color: #962126;
  color: #fff;
  border: 0.5rem solid #962126;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin: 1rem 2rem;
}

/* Back to top button */
#backtop {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    text-decoration: none;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
  }

#backtop:hover {
    color: #fff !important;
    background-color: #B3D16C;
    text-decoration: none;
}

/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
