@font-face {
  font-family: 'plooi';
  src:  url('../fonts/plooi.eot?bacy4n');
  src:  url('../fonts/plooi.eot?bacy4n#iefix') format('embedded-opentype'),
    url('../fonts/plooi.ttf?bacy4n') format('truetype'),
    url('../fonts/plooi.woff?bacy4n') format('woff'),
    url('../fonts/plooi.svg?bacy4n#plooi') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'plooi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-plooi:before {
  content: "\e900";
}

.icon-bike:before {
  content: "\e901";
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */
.jumbotron {
  padding: 100px 25px;
  margin: 0;
}
.container-fluid {
  padding: 60px 50px;
}
#myCarousel {
  height: auto !important;
  width: auto !important;
  overflow: hidden;
}
.carousel-caption {
  background-color: rgba(150, 33, 38, 0.5);
}
.site-header {
  background-color: rgba(150, 33, 38, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #fff;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #000;
  text-decoration: none;
}

.nav-pills .nav-link.active {
    background-color: #fff !important;
    color: #962126;
}

  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
 }

.mabool {
  max-width: 100%;
 }
 .mabool-pic {
   max-height: 72em;
   width: auto;
 }
.mabool-sub {
  background-color: #962126;
  color: #fff;
  border: 0.5rem solid #962126;
  border-radius: 1rem;
  font-size: 1.5rem;
}

#mabooul {
  background-image: url('../image/MABOOUL.jpg');
  height: 40vh;
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}

/* Back to top button */
#backtop {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }

#backtop:hover {
    color: #fff !important;
    background-color: #155E59;
    text-decoration: none;
}

/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
